<div class="hero user-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-ct">
            <h1 style="margin-left: 4px;">1 More Step</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-single">
    <div class="container">
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="form-style-1 user-pro" action="#">
            <form method="POST" class="user">
              <div class="row">
                <div class="col-md-12 form-it">
                  <label>Chair Code</label>
                  <input style="background-color: gray; color: white;" type="text" value="<%= seatChoosenList %>" readonly/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-it">
                  <label>Price</label>
                  <input style="background-color: gray; color: white;" name="total_money" type="text" value="<%= totalMoney %>" readonly/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-it">
                  <input style="margin-top: 10px;" class="submit" type="submit" value="save" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>