<h1>1 more step, Confirm</h1>
<form method="POST">

    <label>Chair Code: <%= chairInfo.chairCode %></label><br>

    <label>Price: 45000</label><br>
    <button type="submit">Confirm Booking</button>
</form>