<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h1>Mange Film</h1>

<button id="add-btn">Add</button><br>

<% films.forEach(element => { %>
    <div>
        <label style="min-width: 300px; display: inline-block;"><%= element.displayName %></label>
        <button class="delete-btn" data-id="<%= element.uuid %>">Delete</button>
        <button class="update-btn" data-id="<%= element.uuid %>">Update</button>
    </div>
<% }) %>


<script>

    // Get data-id field by using $(this).data("id");

    $(function() {
        $("#add-btn").click(function() {
            window.location.href = `/admin/manage-film/add-film`;
        });
    });

    $(function() {
        $(".delete-btn").click(function() {
            window.location.href = `/admin/manage-film?filmID=${$(this).data("id")}&action=delete`;
        });
    });

    $(function() {
        $(".update-btn").click(function() {
            window.location.href = `/admin/manage-film/update-film?filmID=${$(this).data("id")}`;
        });
    });

</script>