<form method="POST">
    <label for="fromDate">fromDate:</label>
    <input type="date" id="fromDate" name="fromDate">
    <label for="toDate">toDate:</label>
    <input type="date" id="toDate" name="toDate" >
    <input type="submit" class="btn btn-success mr-2" value="Check">
  </form>