
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div style="background-image: url('images/uploads/slider-bg.jpg');height: 100vh;">
  <div class="slider movie-items">
    <div class="container">
        <div class="title-hd">
            <h2>Danh sách suất chiếu cho phim này: </h2>
          </div>
      <div class="">
        <div class="slick-multiItemSlider">
          <% cinemas.forEach(cinema => { %>
            <div class="movie-item">
              <div class="mv-img">
                <a href="#"
                  ><img
                    src="https://cdn.pixabay.com/photo/2018/08/07/16/03/cinema-3590128_1280.jpg"
                    alt=""
                    max-width="285"
                    max-height="437"
                    width="auto"
                    height="auto"
                /></a>
              </div>
              <div class="title-in">
                <h6><a href="/booking/choose-seat?filmID=<%= cinema.filmId %>&showtimeID=<%= cinema.showtimeId %>"><%= cinema.displayName %></a></h6>
                <% let date = cinema.start.toString().split(" "); %>
                <p style="font-weight: bold;">
                  Suất chiếu: <u> <%=`${date[1]} ${date[2]} ${date[3]} ${date[4]}`%> </u>
                </p>                
              </div>
            </div>
            <% }); %>
        </div>
      </div>
    </div>
  </div>
    
      
    
  
</div>





<script>
  function getParameterURLByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return "";
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  const filmID = getParameterURLByName("filmID");

  $(function () {
    $(".item").click(function () {
      window.location.href = `/showtime?cinema_id=${$(this).data(
        "id"
      )}&film_id=${filmID}`;
    });
  });
</script>