<form method="POST">

    <!-- Display Name -->
    <label for="cluster_name">Display Name:</label><br>
    <input type="text" value="<%= cinema_cluster.displayName %>" name="cluster_name" required><br>

    <!-- Address -->
    <label for="cluster_address">Address</label><br>
    <input type="text" value="<%= cinema_cluster.address %>" name="cluster_address" required><br>       


    <input type="submit" value="Update">

</form>