<form method="POST">
    <label>New password:</label><br>
    <input type="password" name="new_password"><br>

    <label>Re-enter password:</label><br>
    <input type="password" name="new_password_re_enter"><br>

    <input type="submit" value="Confirm">
</form>