<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <% if(currentUser) { %>

                <!-- is normal user -->
                <% if(currentUser.permission_id == 2) {  %>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/ticket">Ticket</a></li>
                <!-- is admin -->
                <% } else { %>
                    <li><a href="/admin/manage-user">Home</a></li>
                    <li><a href="/admin/manage-film">Films</a></li>
                <% } %>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile"><%= currentUser ? currentUser.displayName : "Guest" %></a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>

        </ul>
    </nav>
    
    <%- body %>
</body>

</html>