<form method="POST">
    <!-- Email -->
    <label for="user_email">Email</label><br>
    <input type="email" name="user_email"><br>

    <!-- Password -->
    <label for="user_password">Password</label><br>
    <input type="password" name="user_password"><br>

    <button type="submit">Login</button>

</form>