<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div>
        <h2>Most Viewed Films</h2>
</div>


<hr>

<div>
        <h2>Newest Films</h2>
        <%  newestFilms.forEach(element => { %>
                <div class="container" style="display: grid; grid-template-columns: auto auto; padding: 10px;">
                        <div class="item">
                                <button class="item-btn" data-id="<%= element.uuid %>"><%= element.displayName %></button>
                        </div>
                </div>
        <% }) %>
</div>

<hr>

<div>
        <h2>All Films</h2>
        <%  films.forEach(element => { %>
                <div class="container" style="display: grid; grid-template-columns: auto auto; padding: 10px;">
                        <div class="item" style="cursor: pointer;">
                                <button class="item-btn" data-id="<%= element.uuid %>"><%= element.displayName %></button>
                        </div>
                </div>
        <% }) %>
</div>

<hr>

<script>
        $(function() {
                $(".item-btn").click(function() {
                        window.location.href = `/film?filmID=${$(this).data("id")}`;
                        // Get data-id field by using $(this).data("id");
                });
        });
        
</script>