    <div class="hero user-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            
          </div>
        </div>
      </div>
    </div>
    <div class="page-single">
      <div class="container">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="form-style-1 user-pro" action="">
              <form action="/forgot-password/enter-new-password" method="POST" class="password">
                <div class="row">
                    <div class="col-md-6 form-it">
                      <label for="new_password">Email</label>
                      <input style="background-color: gray; color: white;" type="text" name="_email" value="<%- qEmail %>" readonly />
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-6 form-it">
                    <label for="new_password">New Password</label>
                    <input type="password" name="new_password" placeholder="***************" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-it">
                    <label for="new_password_re_enter">Confirm New Password</label>
                    <input type="password" name="new_password_re_enter" placeholder="*************** " />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <input class="submit" type="submit" value="change" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

