<form method="POST">

    <!-- Display Name -->
    <label for="cluster_name">Display Name:</label><br>
    <input type="text" name="cluster_name" required><br>

    <!-- Address -->
    <label for="cluster_address">Address</label><br>
    <input type="text" name="cluster_address" required><br>       


    <input type="submit" value="Add">

</form>