<% if(currentUser) { %>
<div>
  <form method="POST">
    <label>Email:</label><br />
    <input
      type="email"
      value="<%= currentUser.email %>"
      name="email_update"
    /><br />

    <label>Password:</label><br />
    <input
      type="password"
      value="<%= currentUser.password %>"
      name="password_update"
    /><br />

    <label>Full Name:</label><br />
    <input
      type="text"
      value="<%= currentUser.displayName %>"
      name="fullname_update"
    /><br />

    <label>Phone:</label><br />
    <input
      type="text"
      value="<%= currentUser.phone %>"
      name="phone_update"
    /><br />

    <input type="submit" value="Update Profile" />
  </form>
</div>
<% } else { %>
<h1>Please login to use this feature!!</h1>
<% }%>
