
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div style="background-image: url('images/uploads/slider-bg.jpg');height: 100vh;">
  <div class="slider movie-items">
    <div class="title-hd">
      <h1 class="bd-hd" >Choose the Cinema You want to go</h1>
    </div>
  </div>
  <div class="movie-item" style="margin-left: 50vh;">
    <% cinemas.forEach(cinema => { %>
    <button
      class="item"
      data-id="<%= cinema.uuid %>"
      style="
        display: block;
        cursor: pointer;
        width: 200px;
        height: 30px;
        color: white;
        background-color: rgb(94, 93, 206);
        border: 1px solid black;
        margin-top: 12px;
        text-align: center;
        border-radius: 10px;
      "
    >
      <h2 style="font-size: 15px;"><%= cinema.displayName %></h2>
      <% }) %>
    </button>
  </div>
</div>





<script>
  function getParameterURLByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return "";
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  const filmID = getParameterURLByName("filmID");

  $(function () {
    $(".item").click(function () {
      window.location.href = `/showtime?cinema_id=${$(this).data(
        "id"
      )}&film_id=${filmID}`;
    });
  });
</script>