<%= currentUser ? currentUser.email : "Guest" %>

<form method="POST">
    <!-- Email -->
    <label for="user_email">Email</label><br>
    <input type="email" name="user_email" required><br>

    <!-- Password -->
    <label for="user_password">Password</label><br>
    <input type="password" name="user_password" required><br>

    <a href="forgot-password/re-enter-email">Forgot Password?</a><br>
    <p>Don't have any account? <a href="/signup">Sign up</a></p><br>

    <button type="submit">Login</button>
    <a href="/logout">Logout</a>
</form>