<form method="POST">
    <label for="register_email">Email</label><br>
    <input type="email" name="register_email"><br>

    <label for="register_full_name">Full Name</label><br>
    <input type="text" name="register_full_name"><br>

    <label for="register_phone">Phone</label><br>
    <input type="text" name="register_phone"><br>

    <label for="register_password">Password</label><br>
    <input type="password" name="register_password"><br>

    <label for="register_confirm_password">Confirm Password</label><br>
    <input type="password" name="register_confirm_password"><br>


    <button type="submit">Sign Up</button>
</form>