<form method="POST">

    <!-- Name -->
    <label for="film_name">Name:</label><br>
    <input type="text" name="film_name" required><br>

    <!-- Publish Date -->
    <!-- Get default value is current time. -->
    <label for="film_pdate">Publish Date</label><br>
    <input type="datetime" value="<%= new Date(); %>" name="film_pdate" required><br>       

    <!-- Time -->
    <label for="film_time">Time</label><br>
    <input type="text" name="film_time" required><br>

    <input type="submit" value="Add">

</form>