<div class="hero user-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-ct">
            <h1>PLEASE CHECK YOUR EMAIL</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-single">
    <div style="min-height: 300px;" class="container">
        
      </div>
    </div>
  </div>