<form method="POST" enctype="multipart/form-data">
  <!-- Poster -->
  <label for="film_poster">Poster:</label><br />
  <input type="file" name="film_poster" required /><br />

  <!-- Name -->
  <label for="film_name">Name:</label><br />
  <input type="text" name="film_name" required /><br />

  <!-- Publish Date -->
  <!-- Get default value is current time. -->
  <label for="film_pdate">Publish Date</label><br />
  <input
    type="datetime"
    value="<%= new Date(); %>"
    name="film_pdate"
    required
  /><br />

  <!-- Overview -->
  <label for="film_name">Overview:</label><br />
  <input type="text" name="film_overview" required /><br />

  <!-- Trailer -->
  <label for="film_name">Link trailer:</label><br />
  <input type="text" name="film_trailer" required /><br />

  <!-- Time -->
  <label for="film_time">Time</label><br />
  <input type="text" name="film_time" required /><br />

  <input type="submit" value="Add" />
</form>
