<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div style="background-image: url('images/uploads/slider-bg.jpg');height: 100vh;">
  <div class="slider movie-items">
    <div class="title-hd">
    </div>
  </div>
  <div class="movie-item" style="margin-left: 50vh;">
    <img src="/images/500-error.png">
  </div>
</div>