<% users.forEach(element => { %>
        <div style="display: inline-block; min-width: 300px"><%= element.email %></div>
        <button>Delete</button>
        <button>Update</button>
        <br>
<% }); %>